# Downloading Market and Fundamental Data with `yfinance`

## Imports & Settings

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

## How to work with a Ticker object

In [3]:
import yfinance as yf
symbol = 'FB'
ticker = yf.Ticker(symbol)

In [4]:
pd.Series(ticker.info).head(20)

zip                                                                94025
sector                                            Communication Services
fullTimeEmployees                                                  68177
longBusinessSummary    Meta Platforms, Inc. develops products that en...
city                                                          Menlo Park
phone                                                       650 543 4800
state                                                                 CA
country                                                    United States
companyOfficers                                                       []
website                                          https://investor.fb.com
maxAge                                                                 1
address1                                                1601 Willow Road
industry                                  Internet Content & Information
ebitdaMargins                                                    0.48748
profitMargins                                                     0.3588
grossMargins                                                      0.8085
operatingCashflow                                            53618999296
revenueGrowth                                                      0.351
operatingMargins                                                  0.4179
ebitda                                                       54758998016
dtype: object

### Get market data

In [5]:
data = ticker.history(period='5d',
                      interval='1m',
                      start=None,
                      end=None,
                      actions=True,
                      auto_adjust=True,
                      back_adjust=False)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1862 entries, 2022-01-06 09:30:00-05:00 to 2022-01-12 14:37:12-05:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1862 non-null   float64
 1   High          1862 non-null   float64
 2   Low           1862 non-null   float64
 3   Close         1862 non-null   float64
 4   Volume        1862 non-null   int64
 5   Dividends     1862 non-null   int64
 6   Stock Splits  1862 non-null   int64
dtypes: float64(4), int64(3)
memory usage: 116.4 KB

### View company actions

In [6]:
# show actions (dividends, splits)
ticker.actions

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []

In [7]:
ticker.dividends

Series([], Name: Dividends, dtype: int64)

In [8]:
ticker.splits

Series([], Name: Stock Splits, dtype: int64)

### Annual and Quarterly Financial Statement Summary

In [9]:
ticker.financials

,2020-12-31,2019-12-31,2018-12-31,2017-12-31
Research Development,18447000000.0,13600000000.0,10273000000.0,7754000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,33180000000.0,24812000000.0,25361000000.0,20594000000.0
Minority Interest,None,None,None,None
Net Income,29146000000.0,18485000000.0,22112000000.0,15934000000.0
Selling General Administrative,18155000000.0,15341000000.0,11297000000.0,7242000000.0
Gross Profit,69273000000.0,57927000000.0,46483000000.0,35199000000.0
Ebit,32671000000.0,28986000000.0,24913000000.0,20203000000.0
Operating Income,32671000000.0,28986000000.0,24913000000.0,20203000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,NaN,NaN,NaN,-6000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,4034000000.0,6327000000.0,3249000000.0,4660000000.0
Total Revenue,85965000000.0,70697000000.0,55838000000.0,40653000000.0
Total Operating Expenses,53294000000.0,41711000000.0,30925000000.0,20450000000.0
Cost Of Revenue,16692000000.0,12770000000.0,9355000000.0,5454000000.0
Total Other Income Expense Net,509000000.0,-4174000000.0,448000000.0,391000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,29146000000.0,18485000000.0,22112000000.0,15934000000.0
Net Income Applicable To Common Shares,29146000000.0,18485000000.0,22111000000.0,15920000000.0

In [10]:
ticker.quarterly_financials

,2021-09-30,2021-06-30,2021-03-31,2020-12-31
Research Development,6316000000.0,6096000000.0,5197000000.0,5207000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,10565000000.0,12513000000.0,11503000000.0,13055000000.0
Minority Interest,None,None,None,None
Net Income,9194000000.0,10394000000.0,9497000000.0,11219000000.0
Selling General Administrative,6500000000.0,5215000000.0,4465000000.0,4880000000.0
Gross Profit,23239000000.0,23678000000.0,21040000000.0,22862000000.0
Ebit,10423000000.0,12367000000.0,11378000000.0,12775000000.0
Operating Income,10423000000.0,12367000000.0,11378000000.0,12775000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,None,None,None,None
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,1371000000.0,2119000000.0,2006000000.0,1836000000.0
Total Revenue,29010000000.0,29077000000.0,26171000000.0,28072000000.0
Total Operating Expenses,18587000000.0,16710000000.0,14793000000.0,15297000000.0
Cost Of Revenue,5771000000.0,5399000000.0,5131000000.0,5210000000.0
Total Other Income Expense Net,142000000.0,146000000.0,125000000.0,280000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,9194000000.0,10394000000.0,9497000000.0,11219000000.0
Net Income Applicable To Common Shares,9194000000.0,10394000000.0,9497000000.0,11219000000.0

### Annual and Quarterly Balance Sheet

In [11]:
ticker.balance_sheet

,2020-12-31,2019-12-31,2018-12-31,2017-12-31
Intangible Assets,6.230000e+08,8.940000e+08,1.294000e+09,1.884000e+09
Capital Surplus,5.001800e+10,4.585100e+10,4.290600e+10,4.058400e+10
Total Liab,3.102600e+10,3.232200e+10,1.320700e+10,1.017700e+10
Total Stockholder Equity,1.282900e+11,1.010540e+11,8.412700e+10,7.434700e+10
Other Current Liab,9.964000e+09,1.118600e+10,4.494000e+09,2.590000e+09
Total Assets,1.593160e+11,1.333760e+11,9.733400e+10,8.452400e+10
Other Current Assets,2.410000e+08,8.000000e+06,1.000000e+07,1.800000e+07
Retained Earnings,7.734500e+10,5.569200e+10,4.198100e+10,3.399000e+10
Other Liab,5.945000e+09,7.745000e+09,6.190000e+09,6.417000e+09
Good Will,1.905000e+10,1.871500e+10,1.830100e+10,1.822100e+10
Treasury Stock,9.270000e+08,-4.890000e+08,-7.600000e+08,-2.270000e+08
Other Assets,2.758000e+09,2.673000e+09,2.576000e+09,2.135000e+09
Cash,1.757600e+10,1.907900e+10,1.001900e+10,8.079000e+09
Total Current Liabilities,1.498100e+10,1.505300e+10,7.017000e+09,3.760000e+09
Other Stockholder Equity,9.270000e+08,-4.890000e+08,-7.600000e+08,-2.270000e+08
Property Plant Equipment,5.498100e+10,4.478300e+10,2.468300e+10,1.372100e+10
Total Current Assets,7.567000e+10,6.622500e+10,5.048000e+10,4.856300e+10
Long Term Investments,6.234000e+09,8.600000e+07,NaN,NaN
Net Tangible Assets,1.086170e+11,8.144500e+10,6.453200e+10,5.424200e+10
Short Term Investments,4.437800e+10,3.577600e+10,3.109500e+10,3.363200e+10
Net Receivables,1.133500e+10,9.518000e+09,7.587000e+09,5.832000e+09
Accounts Payable,1.331000e+09,1.363000e+09,8.200000e+08,3.800000e+08
Common Stock,NaN,NaN,4.290600e+10,NaN

In [12]:
ticker.quarterly_balance_sheet

,2021-09-30,2021-06-30,2021-03-31,2020-12-31
Intangible Assets,3.650000e+08,5.140000e+08,5.050000e+08,6.230000e+08
Capital Surplus,5.433400e+10,5.284500e+10,5.116000e+10,5.001800e+10
Total Liab,3.622500e+10,3.238200e+10,2.986600e+10,3.102600e+10
Total Stockholder Equity,1.333600e+11,1.382270e+11,1.336570e+11,1.282900e+11
Other Current Liab,1.373000e+09,1.340000e+09,1.388000e+09,9.964000e+09
Total Assets,1.695850e+11,1.706090e+11,1.635230e+11,1.593160e+11
Other Current Assets,1.950000e+08,2.010000e+08,2.570000e+08,2.410000e+08
Retained Earnings,7.923300e+10,8.509700e+10,8.234300e+10,7.734500e+10
Other Liab,6.352000e+09,6.059000e+09,6.101000e+09,5.945000e+09
Good Will,1.906500e+10,1.921900e+10,1.905600e+10,1.905000e+10
Treasury Stock,-2.070000e+08,2.850000e+08,1.540000e+08,9.270000e+08
Other Assets,3.187000e+09,2.352000e+09,2.376000e+09,2.758000e+09
Cash,1.449600e+10,1.618600e+10,1.951300e+10,1.757600e+10
Total Current Liabilities,1.781200e+10,1.487400e+10,1.271700e+10,1.498100e+10
Other Stockholder Equity,-2.070000e+08,2.850000e+08,1.540000e+08,9.270000e+08
Property Plant Equipment,6.478900e+10,6.143400e+10,5.792200e+10,5.498100e+10
Total Current Assets,7.542100e+10,8.069700e+10,7.732200e+10,7.567000e+10
Long Term Investments,6.758000e+09,6.393000e+09,6.342000e+09,6.234000e+09
Net Tangible Assets,1.139300e+11,1.184940e+11,1.140960e+11,1.086170e+11
Short Term Investments,4.357900e+10,4.789400e+10,4.470600e+10,4.437800e+10
Net Receivables,1.208800e+10,1.169800e+10,1.027600e+10,1.133500e+10
Accounts Payable,2.195000e+09,9.730000e+08,8.780000e+08,1.331000e+09

### Annual and Quarterly Cashflow Statement

In [13]:
ticker.cashflow

,2020-12-31,2019-12-31,2018-12-31,2017-12-31
Investments,-1.452000e+10,-4.254000e+09,2.449000e+09,-1.325000e+10
Change To Liabilities,9.100000e+07,2.360000e+08,2.740000e+08,4.700000e+07
Total Cashflows From Investing Activities,-3.005900e+10,-1.986400e+10,-1.160300e+10,-2.011800e+10
Net Borrowings,-5.800000e+08,-7.750000e+08,5.000000e+08,5.000000e+08
Total Cash From Financing Activities,-1.029200e+10,-7.299000e+09,-1.557200e+10,-5.235000e+09
Change To Operating Activities,-1.302000e+09,8.975000e+09,9.100000e+07,3.449000e+09
Net Income,2.914600e+10,1.848500e+10,2.211200e+10,1.593400e+10
Change In Cash,-1.325000e+09,9.155000e+09,1.920000e+09,-9.050000e+08
Repurchase Of Stock,-9.836000e+09,-6.539000e+09,-1.608700e+10,-5.222000e+09
Effect Of Exchange Rate,2.790000e+08,4.000000e+06,-1.790000e+08,2.320000e+08
Total Cash From Operating Activities,3.874700e+10,3.631400e+10,2.927400e+10,2.421600e+10
Depreciation,6.862000e+09,5.741000e+09,4.315000e+09,3.025000e+09
Other Cashflows From Investing Activities,-3.600000e+07,-3.600000e+07,-3.600000e+07,-1.300000e+07
Change To Account Receivables,-1.512000e+09,-1.961000e+09,-1.892000e+09,-1.609000e+09
Other Cashflows From Financing Activities,1.240000e+08,1.500000e+07,1.500000e+07,-1.300000e+07
Change To Netincome,5.462000e+09,4.838000e+09,4.374000e+09,3.370000e+09
Capital Expenditures,-1.511500e+10,-1.510200e+10,-1.391500e+10,-6.733000e+09

In [14]:
ticker.quarterly_cashflow

,2021-09-30,2021-06-30,2021-03-31,2020-12-31
Investments,4.153000e+09,-3.264000e+09,-6.000000e+08,-5.290000e+08
Change To Liabilities,7.720000e+08,1.190000e+08,-2.440000e+08,-5.900000e+07
Total Cashflows From Investing Activities,-3.300000e+08,-8.195000e+09,-4.874000e+09,-5.173000e+09
Net Borrowings,-2.190000e+08,-7.000000e+07,-2.010000e+08,-1.580000e+08
Total Cash From Financing Activities,-1.525200e+10,-8.549000e+09,-5.185000e+09,-3.207000e+09
Change To Operating Activities,1.166000e+09,-6.430000e+08,-2.014000e+09,2.606000e+09
Net Income,9.194000e+09,1.039400e+10,9.497000e+09,1.121900e+10
Change In Cash,-1.707000e+09,-3.380000e+09,1.937000e+09,5.975000e+09
Repurchase Of Stock,-1.503300e+10,-8.434000e+09,-5.016000e+09,-3.049000e+09
Effect Of Exchange Rate,-2.150000e+08,1.170000e+08,-2.460000e+08,3.150000e+08
Total Cash From Operating Activities,1.409000e+10,1.324700e+10,1.224200e+10,1.404000e+10
Depreciation,1.995000e+09,1.986000e+09,1.972000e+09,1.863000e+09
Other Cashflows From Investing Activities,-9.800000e+07,-6.000000e+07,-2.000000e+06,-2.700000e+07
Change To Account Receivables,-5.550000e+08,-1.366000e+09,8.490000e+08,-3.059000e+09
Change To Netincome,1.519000e+09,2.756000e+09,2.182000e+09,1.470000e+09
Capital Expenditures,-4.314000e+09,-4.612000e+09,-4.272000e+09,-4.613000e+09
Other Cashflows From Financing Activities,NaN,-4.500000e+07,3.200000e+07,3.200000e+07

In [15]:
ticker.earnings

          Revenue     Earnings
Year
2017  40653000000  15934000000
2018  55838000000  22112000000
2019  70697000000  18485000000
2020  85965000000  29146000000

In [16]:
ticker.quarterly_earnings

             Revenue     Earnings
Quarter
4Q2020   28072000000  11219000000
1Q2021   26171000000   9497000000
2Q2021   29077000000  10394000000
3Q2021   29010000000   9194000000

### Sustainability: Environmental, Social and Governance (ESG)

In [17]:
ticker.sustainability

                                     Value
2021-9
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                          16.63
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                               99
governanceScore                      10.18
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             28.03
highestControversy                       4
esgPerformance                    AVG_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                           52.35
peerGroup              Software & Services
smallArms                            False
environmentScore                      1.22
governancePercentile                  None
militaryContract                     False

### Analyst Recommendations

In [18]:
ticker.recommendations.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 583 entries, 2012-06-22 07:56:00 to 2021-12-06 12:14:05
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Firm        583 non-null    object
 1   To Grade    583 non-null    object
 2   From Grade  583 non-null    object
 3   Action      583 non-null    object
dtypes: object(4)
memory usage: 22.8+ KB

In [19]:
ticker.recommendations.tail(10)

                                       Firm    To Grade From Grade Action
Date
2021-10-26 11:08:03              Rosenblatt         Buy    Neutral     up
2021-10-26 11:29:33             Wells Fargo  Overweight              main
2021-10-26 11:55:29             RBC Capital  Outperform              main
2021-10-26 11:57:53                Barclays  Overweight              main
2021-10-26 12:10:38           Credit Suisse  Outperform              main
2021-10-26 12:18:15           Raymond James  Strong Buy              main
2021-10-26 12:48:20          Morgan Stanley  Overweight              main
2021-10-26 13:40:21  Monness, Crespi, Hardt         Buy              main
2021-10-26 13:42:37               Jefferies         Buy              main
2021-12-06 12:14:05                    HSBC        Hold     Reduce     up

### Upcoming Events

In [20]:
ticker.calendar

                                Value
Earnings Date     2022-02-02 21:00:00
Earnings Average                 3.84
Earnings Low                     3.52
Earnings High                    4.47
Revenue Average           33381400000
Revenue Low               32204300000
Revenue High              35584000000

### Option Expiration Dates

In [21]:
ticker.options

('2022-01-14',
 '2022-01-21',
 '2022-01-28',
 '2022-02-04',
 '2022-02-11',
 '2022-02-18',
 '2022-02-25',
 '2022-03-18',
 '2022-04-14',
 '2022-05-20',
 '2022-06-17',
 '2022-07-15',
 '2022-09-16',
 '2023-01-20',
 '2023-03-17',
 '2023-06-16',
 '2024-01-19',
 '2026-02-21')

In [22]:
expiration = ticker.options[0]

In [23]:
options = ticker.option_chain(expiration)

In [24]:
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     64 non-null     object
 1   lastTradeDate      64 non-null     datetime64[ns, UTC]
 2   strike             64 non-null     float64
 3   lastPrice          64 non-null     float64
 4   bid                64 non-null     float64
 5   ask                64 non-null     float64
 6   change             64 non-null     float64
 7   percentChange      64 non-null     float64
 8   volume             63 non-null     float64
 9   openInterest       64 non-null     int64
 10  impliedVolatility  64 non-null     float64
 11  inTheMoney         64 non-null     bool
 12  contractSize       64 non-null     object
 13  currency           64 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(8), int64(1), object(3)
memory usage: 6.7+ KB

In [25]:
options.calls.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,FB220114C00200000,2022-01-12 17:42:33+00:00,200.0,133.60,132.50,132.85,6.100006,4.784318,9.0,20,0.000010,True,REGULAR,USD
1,FB220114C00205000,2022-01-12 17:42:33+00:00,205.0,128.60,127.75,128.05,12.050003,10.338912,2.0,2,1.914063,True,REGULAR,USD
2,FB220114C00210000,2022-01-11 16:57:08+00:00,210.0,124.70,122.70,123.05,2.189995,1.787605,1.0,15,1.625002,True,REGULAR,USD
3,FB220114C00215000,2022-01-05 14:33:30+00:00,215.0,117.95,117.55,117.95,0.000000,0.000000,6.0,9,1.906250,True,REGULAR,USD
4,FB220114C00220000,2022-01-06 20:10:07+00:00,220.0,113.95,112.50,113.05,0.000000,0.000000,4.0,6,1.996094,True,REGULAR,USD

In [26]:
options.puts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     64 non-null     object
 1   lastTradeDate      64 non-null     datetime64[ns, UTC]
 2   strike             64 non-null     float64
 3   lastPrice          64 non-null     float64
 4   bid                64 non-null     float64
 5   ask                64 non-null     float64
 6   change             64 non-null     float64
 7   percentChange      64 non-null     float64
 8   volume             60 non-null     float64
 9   openInterest       64 non-null     int64
 10  impliedVolatility  64 non-null     float64
 11  inTheMoney         64 non-null     bool
 12  contractSize       64 non-null     object
 13  currency           64 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(8), int64(1), object(3)
memory usage: 6.7+ KB