# Stock / Options / Fundamental Data with the `Ticker` object of `yfinance`

Install yfinance 

`pip install yfinance`

In [1]:
import pandas as pd
import yfinance as yf

In [ ]:
2

## The yfinance Ticker object

`start` and `end` dates

`period` instead of start/end

`valid periods`: 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd,max

valid `intervals`: 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo

`actions = True`: Includes info on both dividends and splits. (Optional default is `False`)

`prepost = True`: download pre/post regular market hours data. (Optional default is `False`)

## Stock Data

In [2]:
symbol = 'AAPL'
ticker = yf.Ticker(symbol)

In [3]:
df = ticker.history(start = '2019-01-01', end = '2020-01-01')

In [4]:
df # Notice that by default actions = True, so we set it equal to False and round it to 2 decimal digits with the option True (it is either 2 digits or 6 digits)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-12-31,38.474335,38.675772,37.976811,38.282608,140014000,0.0,0
2019-01-02,37.590923,38.551994,37.430744,38.326286,148158800,0.0,0
2019-01-03,34.943130,35.365420,34.462596,34.508709,365248800,0.0,0
2019-01-04,35.076616,36.052248,34.899450,35.981865,234428400,0.0,0
2019-01-07,36.088655,36.120206,35.409110,35.901779,219111200,0.0,0
...,...,...,...,...,...,...,...
2019-12-24,70.130780,70.180051,69.694759,70.027313,48478800,0.0,0
2019-12-26,70.162798,71.433917,70.133238,71.416672,93121200,0.0,0
2019-12-27,71.714752,72.416824,70.975729,71.389580,146266000,0.0,0
2019-12-30,71.305809,72.101493,70.261326,71.813271,144114400,0.0,0
2019-12-31,71.421594,72.345372,71.320593,72.337982,100805600,0.0,0

In [5]:
df = ticker.history(start = '2019-01-01', end = '2020-01-01', actions = False, rounding = True)

In [6]:
df # this is the data corresponding to the daily price of apple

             Open   High    Low  Close     Volume
Date
2018-12-31  38.47  38.68  37.98  38.28  140014000
2019-01-02  37.59  38.55  37.43  38.33  148158800
2019-01-03  34.94  35.37  34.46  34.51  365248800
2019-01-04  35.08  36.05  34.90  35.98  234428400
2019-01-07  36.09  36.12  35.41  35.90  219111200
...           ...    ...    ...    ...        ...
2019-12-24  70.13  70.18  69.69  70.03   48478800
2019-12-26  70.16  71.43  70.13  71.42   93121200
2019-12-27  71.71  72.42  70.98  71.39  146266000
2019-12-30  71.31  72.10  70.26  71.81  144114400
2019-12-31  71.42  72.35  71.32  72.34  100805600

[253 rows x 5 columns]

We now use the period parameter instead of the start/end dates parameters, and set the granularity of the stock price to 1 minute, by setting the interval parameter to `1m`.

In [7]:
df = ticker.history(period = 'max', interval = '1m', actions = False)
# But notice that, when we request the maxumimun period of available data we receive a message saying that:

- AAPL: 1m data not available for startTime=345479400 and endTime=1637422023. Only 7 days worth of 1m granularity data are allowed to be fetched per request.

In [8]:
df = ticker.history(period = '5d', interval = '1m', actions = False, prepost = False)
# Remember that the`prepost` parameter downloads pre/post regular market hours data. (Optional default is `False`)

In [9]:
df.head()

,Open,High,Low,Close,Volume
Datetime,,,,,
2021-11-15 09:30:00-05:00,150.369995,150.800003,150.289993,150.779999,2052956
2021-11-15 09:31:00-05:00,150.809998,151.220001,150.789993,151.179993,615526
2021-11-15 09:32:00-05:00,151.190002,151.429993,151.119995,151.156204,521593
2021-11-15 09:33:00-05:00,151.164993,151.360001,151.139999,151.270004,334812
2021-11-15 09:34:00-05:00,151.250000,151.374207,151.229996,151.320007,363213

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1943 entries, 2021-11-15 09:30:00-05:00 to 2021-11-19 15:59:00-05:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1943 non-null   float64
 1   High    1943 non-null   float64
 2   Low     1943 non-null   float64
 3   Close   1943 non-null   float64
 4   Volume  1943 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 91.1 KB

In [11]:
df = ticker.history(period= '5d', interval = '1m', actions = False, prepost = True)

In [12]:
df.head()

                             Open    High     Low   Close  Volume
Datetime
2021-11-15 04:00:00-05:00  150.00  150.34  149.74  150.12       0
2021-11-15 04:01:00-05:00  150.15  150.22  150.01  150.02       0
2021-11-15 04:02:00-05:00  150.19  150.33  150.10  150.33       0
2021-11-15 04:03:00-05:00  150.33  150.34  150.33  150.33       0
2021-11-15 04:04:00-05:00  150.34  150.37  150.34  150.36       0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4785 entries, 2021-11-15 04:00:00-05:00 to 2021-11-19 19:59:00-05:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    4785 non-null   float64
 1   High    4785 non-null   float64
 2   Low     4785 non-null   float64
 3   Close   4785 non-null   float64
 4   Volume  4785 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 224.3 KB

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4785 entries, 2021-11-15 04:00:00-05:00 to 2021-11-19 19:59:00-05:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    4785 non-null   float64
 1   High    4785 non-null   float64
 2   Low     4785 non-null   float64
 3   Close   4785 non-null   float64
 4   Volume  4785 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 224.3 KB

In [15]:
symbol = 'BTC-USD'
ticker = yf.Ticker(symbol)

In [16]:
df = ticker.history(period = '1w', interval = '1m', actions = False, prepost = False)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 835 entries, 2021-11-20 00:00:00+00:00 to 2021-11-20 15:25:02+00:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    835 non-null    float64
 1   High    835 non-null    float64
 2   Low     835 non-null    float64
 3   Close   835 non-null    float64
 4   Volume  835 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 39.1 KB

In [18]:
df = ticker.history(period = '1w', interval = '1m', actions = False, prepost = True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 835 entries, 2021-11-20 00:00:00+00:00 to 2021-11-20 15:25:02+00:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    835 non-null    float64
 1   High    835 non-null    float64
 2   Low     835 non-null    float64
 3   Close   835 non-null    float64
 4   Volume  835 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 39.1 KB

# Market data for multiple stocks

In [20]:
symbols = 'AAPL FB GOOG'
ticker = yf.Tickers(symbols)

In [21]:
symbols

'AAPL FB GOOG'

In [22]:
df = ticker.history(interval = '1d', start = '2020-01-01', actions = False, rounding = True)

# Notice that we have a multiindex pandas DataFrame with the type of price as the first index level and the symbol of the company as the second index level.

[*********************100%***********************]  3 of 3 completed

In [23]:
df

             Close                     High                      Low          \
              AAPL      FB     GOOG    AAPL      FB     GOOG    AAPL      FB
Date
2019-12-31   72.34  205.25  1337.02   72.35  205.56  1338.00   71.32  203.60
2020-01-02   73.99  209.78  1367.37   74.05  209.79  1368.14   72.72  206.27
2020-01-03   73.27  208.67  1360.66   74.05  210.40  1372.50   73.04  206.95
2020-01-06   73.85  212.60  1394.21   73.89  212.78  1396.50   72.12  206.52
2020-01-07   73.51  213.06  1393.34   74.12  214.58  1402.99   73.28  211.75
...            ...     ...      ...     ...     ...      ...     ...     ...
2021-11-15  150.00  347.56  2987.76  151.88  353.65  3009.54  149.43  343.20
2021-11-16  151.00  342.96  2981.52  151.49  346.65  2996.65  149.34  340.87
2021-11-17  153.49  340.77  2981.24  155.00  347.30  2992.52  150.99  340.10
2021-11-18  157.87  338.69  3014.18  158.67  342.46  3032.20  153.05  335.30
2021-11-19  160.55  345.30  2999.05  161.02  352.10  3037.00  156.53  339.90

                       Open                      Volume
               GOOG    AAPL      FB     GOOG       AAPL        FB     GOOG
Date
2019-12-31  1329.08   71.42  204.00  1330.11  100805600   8953500   961800
2020-01-02  1341.55   72.98  206.75  1341.55  135480400  12077100  1406600
2020-01-03  1345.54   73.20  207.21  1347.86  146322800  11188400  1186400
2020-01-06  1350.00   72.37  206.70  1350.00  118387200  17058900  1732300
2020-01-07  1390.38   73.86  212.82  1397.94  108872000  14912400  1502700
...             ...     ...     ...      ...        ...       ...      ...
2021-11-15  2973.05  150.37  344.34  3000.00   59222800  25076600   812400
2021-11-16  2967.00  149.94  343.83  2983.41   59256200  18181100   862700
2021-11-17  2971.26  151.00  344.24  2984.58   88807000  13602800   764500
2021-11-18  2979.97  153.71  339.72  2982.92  137827700  17487200  1332900
2021-11-19  2997.75  157.65  342.20  3020.00  117147500  26441000   988300

[478 rows x 15 columns]

We can use __multiindex slice__ to select a specific column or set of coumns on a Multilevel DataFrame

In [24]:
idx = pd.IndexSlice
df.loc[:, idx['Close', ['AAPL', 'FB']]]

             Close
              AAPL      FB
Date
2019-12-31   72.34  205.25
2020-01-02   73.99  209.78
2020-01-03   73.27  208.67
2020-01-06   73.85  212.60
2020-01-07   73.51  213.06
...            ...     ...
2021-11-15  150.00  347.56
2021-11-16  151.00  342.96
2021-11-17  153.49  340.77
2021-11-18  157.87  338.69
2021-11-19  160.55  345.30

[478 rows x 2 columns]

In [25]:
df['Close'][['AAPL', 'FB']]

              AAPL      FB
Date
2019-12-31   72.34  205.25
2020-01-02   73.99  209.78
2020-01-03   73.27  208.67
2020-01-06   73.85  212.60
2020-01-07   73.51  213.06
...            ...     ...
2021-11-15  150.00  347.56
2021-11-16  151.00  342.96
2021-11-17  153.49  340.77
2021-11-18  157.87  338.69
2021-11-19  160.55  345.30

[478 rows x 2 columns]

In [26]:
df.head()

            Close                    High                     Low          \
             AAPL      FB     GOOG   AAPL      FB     GOOG   AAPL      FB
Date
2019-12-31  72.34  205.25  1337.02  72.35  205.56  1338.00  71.32  203.60
2020-01-02  73.99  209.78  1367.37  74.05  209.79  1368.14  72.72  206.27
2020-01-03  73.27  208.67  1360.66  74.05  210.40  1372.50  73.04  206.95
2020-01-06  73.85  212.60  1394.21  73.89  212.78  1396.50  72.12  206.52
2020-01-07  73.51  213.06  1393.34  74.12  214.58  1402.99  73.28  211.75

                      Open                      Volume
               GOOG   AAPL      FB     GOOG       AAPL        FB     GOOG
Date
2019-12-31  1329.08  71.42  204.00  1330.11  100805600   8953500   961800
2020-01-02  1341.55  72.98  206.75  1341.55  135480400  12077100  1406600
2020-01-03  1345.54  73.20  207.21  1347.86  146322800  11188400  1186400
2020-01-06  1350.00  72.37  206.70  1350.00  118387200  17058900  1732300
2020-01-07  1390.38  73.86  212.82  1397.94  108872000  14912400  1502700

In [27]:
# We can use the group_by parameter to inverse the indices of the DataFrame.
df = ticker.history(interval = '1d', start = '2020-01-01', actions = False, rounding = True, group_by = 'tickers')

[*********************100%***********************]  3 of 3 completed

In [28]:
df.head()

               GOOG                                          FB          \
               Open     High      Low    Close   Volume    Open    High
Date
2019-12-31  1330.11  1338.00  1329.08  1337.02   961800  204.00  205.56
2020-01-02  1341.55  1368.14  1341.55  1367.37  1406600  206.75  209.79
2020-01-03  1347.86  1372.50  1345.54  1360.66  1186400  207.21  210.40
2020-01-06  1350.00  1396.50  1350.00  1394.21  1732300  206.70  212.78
2020-01-07  1397.94  1402.99  1390.38  1393.34  1502700  212.82  214.58

                                       AAPL
               Low   Close    Volume   Open   High    Low  Close     Volume
Date
2019-12-31  203.60  205.25   8953500  71.42  72.35  71.32  72.34  100805600
2020-01-02  206.27  209.78  12077100  72.98  74.05  72.72  73.99  135480400
2020-01-03  206.95  208.67  11188400  73.20  74.05  73.04  73.27  146322800
2020-01-06  206.52  212.60  17058900  72.37  73.89  72.12  73.85  118387200
2020-01-07  211.75  213.06  14912400  73.86  74.12  73.28  73.51  108872000

# Fundamental Data

In [29]:
symbol = 'AAPL'
ticker = yf.Ticker(symbol)

In [30]:
ticker.info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 154000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408 996 1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'ebitdaMargins': 0.32867,
 'profitMargins': 0.25882,
 'grossMargins': 0.41779,
 'operatingCashflow': 104037998592,
 'revenueGrowth': 0.288,
 'operatingMargins': 0.29782,
 'ebitda': 120233000960,
 'targetLowPrice': 128.01,
 'recommendationKey': 'buy',
 'grossProfits': 152836000000,
 'freeCashflow': 73295003648,
 'targetMedianPrice': 170,
 'currentPrice': 160.55,
 'earningsGrowth': 0.662,
 'currentRatio': 1.075,
 'returnOnAssets': 0.20179,
 'numberOfAnalystOpinions': 40,
 'targetMeanPrice': 168.45,
 'debtToEquity': 216.392,
 'returnOnEquity': 1.47443,
 'targetHighPrice': 190,
 'totalCash': 62639001600,
 'totalDebt': 136521998336,
 'totalRevenue': 365817004032,
 'totalCashPerShare': 3.818,
 'financialCurrency': 'USD',
 'revenuePerShare': 21.904,
 'quickRatio': 0.91,
 'recommendationMean': 1.9,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 7.402,
 'beta3Year': None,
 'enterpriseToEbitda': 22.522,
 '52WeekChange': 0.4101888,
 'morningStarRiskRating': None,
 'forwardEps': 6.15,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 16406400000,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 3.841,
 'sharesShort': 100495541,
 'sharesPercentSharesOut': 0.0061000003,
 'fundFamily': None,
 'lastFiscalYearEnd': 1632528000,
 'heldPercentInstitutions': 0.58703,
 'netIncomeToCommon': 94679998464,
 'trailingEps': 5.61,
 'lastDividendValue': 0.22,
 'SandP52WeekChange': 0.31316328,
 'priceToBook': 41.79901,
 'heldPercentInsiders': 0.00071000005,
 'nextFiscalYearEnd': 1695600000,
 'yield': None,
 'mostRecentQuarter': 1632528000,
 'shortRatio': 1.34,
 'sharesShortPreviousMonthDate': 1632960000,
 'floatShares': 16389334347,
 'beta': 1.205714,
 'enterpriseValue': 2707929956352,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '4:1',
 'legalType': None,
 'lastDividendDate': 1636070400,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.622,
 'priceToSalesTrailing12Months': 7.2004514,
 'dateShortInterest': 1635465600,
 'pegRatio': 1.78,
 'ytdReturn': None,
 'forwardPE': 26.105692,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0061000003,
 'sharesShortPriorMonth': 101107412,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 157.87,
 'regularMarketOpen': 157.65,
 'twoHundredDayAverage': 137.6976,
 'trailingAnnualDividendYield': 0.005384177,
 'payoutRatio': 0.1515,
 'volume24Hr': None,
 'regularMarketDayHigh': 161.02,
 'navPrice': None,
 'averageDailyVolume10Day': 74388970,
 'regularMarketPreviousClose': 157.87,
 'fiftyDayAverage': 147.3724,
 'trailingAnnualDividendRate': 0.85,
 'open': 157.65,
 'toCurrency': None,
 'averageVolume10days': 74388970,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 0.88,
 'exDividendDate': 1636070400,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 156.5328,
 'currency': 'USD',
 'trailingPE': 28.618538,
 'regularMarketVolume': 117305597,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2634047553536,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 76245489,
 'dayLow': 156.5328,
 'ask': 160.89,
 'askSize': 2200,
 'volume': 117305597,
 'fiftyTwoWeekHigh': 161.02,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.22,
 'fiftyTwoWeekLow': 112.59,
 'bid': 160.86,
 'tradeable': False,
 'dividendYield': 0.0055,
 'bidSize': 1300,
 'dayHigh': 161.02,
 'regularMarketPrice': 160.55,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/apple.com'}

In [31]:
ticker.info.keys()

dict_keys(['zip', 'sector', 'fullTimeEmployees', 'longBusinessSummary', 'city', 'phone', 'state', 'country', 'companyOfficers', 'website', 'maxAge', 'address1', 'industry', 'ebitdaMargins', 'profitMargins', 'grossMargins', 'operatingCashflow', 'revenueGrowth', 'operatingMargins', 'ebitda', 'targetLowPrice', 'recommendationKey', 'grossProfits', 'freeCashflow', 'targetMedianPrice', 'currentPrice', 'earningsGrowth', 'currentRatio', 'returnOnAssets', 'numberOfAnalystOpinions', 'targetMeanPrice', 'debtToEquity', 'returnOnEquity', 'targetHighPrice', 'totalCash', 'totalDebt', 'totalRevenue', 'totalCashPerShare', 'financialCurrency', 'revenuePerShare', 'quickRatio', 'recommendationMean', 'exchange', 'shortName', 'longName', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'isEsgPopulated', 'gmtOffSetMilliseconds', 'quoteType', 'symbol', 'messageBoardId', 'market', 'annualHoldingsTurnover', 'enterpriseToRevenue', 'beta3Year', 'enterpriseToEbitda', '52WeekChange', 'morningStarRiskRating', 'forwardEps', 'revenueQuarterlyGrowth', 'sharesOutstanding', 'fundInceptionDate', 'annualReportExpenseRatio', 'totalAssets', 'bookValue', 'sharesShort', 'sharesPercentSharesOut', 'fundFamily', 'lastFiscalYearEnd', 'heldPercentInstitutions', 'netIncomeToCommon', 'trailingEps', 'lastDividendValue', 'SandP52WeekChange', 'priceToBook', 'heldPercentInsiders', 'nextFiscalYearEnd', 'yield', 'mostRecentQuarter', 'shortRatio', 'sharesShortPreviousMonthDate', 'floatShares', 'beta', 'enterpriseValue', 'priceHint', 'threeYearAverageReturn', 'lastSplitDate', 'lastSplitFactor', 'legalType', 'lastDividendDate', 'morningStarOverallRating', 'earningsQuarterlyGrowth', 'priceToSalesTrailing12Months', 'dateShortInterest', 'pegRatio', 'ytdReturn', 'forwardPE', 'lastCapGain', 'shortPercentOfFloat', 'sharesShortPriorMonth', 'impliedSharesOutstanding', 'category', 'fiveYearAverageReturn', 'previousClose', 'regularMarketOpen', 'twoHundredDayAverage', 'trailingAnnualDividendYield', 'payoutRatio', 'volume24Hr', 'regularMarketDayHigh', 'navPrice', 'averageDailyVolume10Day', 'regularMarketPreviousClose', 'fiftyDayAverage', 'trailingAnnualDividendRate', 'open', 'toCurrency', 'averageVolume10days', 'expireDate', 'algorithm', 'dividendRate', 'exDividendDate', 'circulatingSupply', 'startDate', 'regularMarketDayLow', 'currency', 'trailingPE', 'regularMarketVolume', 'lastMarket', 'maxSupply', 'openInterest', 'marketCap', 'volumeAllCurrencies', 'strikePrice', 'averageVolume', 'dayLow', 'ask', 'askSize', 'volume', 'fiftyTwoWeekHigh', 'fromCurrency', 'fiveYearAvgDividendYield', 'fiftyTwoWeekLow', 'bid', 'tradeable', 'dividendYield', 'bidSize', 'dayHigh', 'regularMarketPrice', 'preMarketPrice', 'logo_url'])

In [32]:
pd.Series(ticker.info).head(15)

zip                                                                95014
sector                                                        Technology
fullTimeEmployees                                                 154000
longBusinessSummary    Apple Inc. designs, manufactures, and markets ...
city                                                           Cupertino
phone                                                       408 996 1010
state                                                                 CA
country                                                    United States
companyOfficers                                                       []
website                                             http://www.apple.com
maxAge                                                                 1
address1                                              One Apple Park Way
industry                                            Consumer Electronics
ebitdaMargins                                                    0.32867
profitMargins                                                    0.25882
dtype: object

In [33]:
ticker.info['longBusinessSummary']

'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.'

In [34]:
data = ticker.history(period = '10y')

In [35]:
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2011-11-21,11.341714,11.380909,11.204230,11.299153,447980400,0.0,0.0
2011-11-22,11.360701,11.572287,11.358251,11.528806,409021200,0.0,0.0
2011-11-23,11.467565,11.508291,11.233933,11.237302,428271200,0.0,0.0
2011-11-25,11.281086,11.364679,11.124923,11.132579,254760800,0.0,0.0
2011-11-28,11.401427,11.535237,11.339574,11.516865,346413200,0.0,0.0
...,...,...,...,...,...,...,...
2021-11-15,150.369995,151.880005,149.429993,150.000000,59222800,0.0,0.0
2021-11-16,149.940002,151.490005,149.339996,151.000000,59256200,0.0,0.0
2021-11-17,151.000000,155.000000,150.990005,153.490005,88807000,0.0,0.0
2021-11-18,153.710007,158.669998,153.050003,157.869995,137827700,0.0,0.0
2021-11-19,157.649994,161.020004,156.529999,160.550003,117147500,0.0,0.0

In [36]:
ticker.actions

            Dividends  Stock Splits
Date
2012-08-09   0.094643           0.0
2012-11-07   0.094643           0.0
2013-02-07   0.094643           0.0
2013-05-09   0.108929           0.0
2013-08-08   0.108929           0.0
2013-11-06   0.108929           0.0
2014-02-06   0.108929           0.0
2014-05-08   0.117500           0.0
2014-06-09   0.000000           7.0
2014-08-07   0.117500           0.0
2014-11-06   0.117500           0.0
2015-02-05   0.117500           0.0
2015-05-07   0.130000           0.0
2015-08-06   0.130000           0.0
2015-11-05   0.130000           0.0
2016-02-04   0.130000           0.0
2016-05-05   0.142500           0.0
2016-08-04   0.142500           0.0
2016-11-03   0.142500           0.0
2017-02-09   0.142500           0.0
2017-05-11   0.157500           0.0
2017-08-10   0.157500           0.0
2017-11-10   0.157500           0.0
2018-02-09   0.157500           0.0
2018-05-11   0.182500           0.0
2018-08-10   0.182500           0.0
2018-11-08   0.182500           0.0
2019-02-08   0.182500           0.0
2019-05-10   0.192500           0.0
2019-08-09   0.192500           0.0
2019-11-07   0.192500           0.0
2020-02-07   0.192500           0.0
2020-05-08   0.205000           0.0
2020-08-07   0.205000           0.0
2020-08-31   0.000000           4.0
2020-11-06   0.205000           0.0
2021-02-05   0.205000           0.0
2021-05-07   0.220000           0.0
2021-08-06   0.220000           0.0
2021-11-05   0.220000           0.0

In [37]:
ticker.dividends

Date
2012-08-09    0.094643
2012-11-07    0.094643
2013-02-07    0.094643
2013-05-09    0.108929
2013-08-08    0.108929
2013-11-06    0.108929
2014-02-06    0.108929
2014-05-08    0.117500
2014-08-07    0.117500
2014-11-06    0.117500
2015-02-05    0.117500
2015-05-07    0.130000
2015-08-06    0.130000
2015-11-05    0.130000
2016-02-04    0.130000
2016-05-05    0.142500
2016-08-04    0.142500
2016-11-03    0.142500
2017-02-09    0.142500
2017-05-11    0.157500
2017-08-10    0.157500
2017-11-10    0.157500
2018-02-09    0.157500
2018-05-11    0.182500
2018-08-10    0.182500
2018-11-08    0.182500
2019-02-08    0.182500
2019-05-10    0.192500
2019-08-09    0.192500
2019-11-07    0.192500
2020-02-07    0.192500
2020-05-08    0.205000
2020-08-07    0.205000
2020-11-06    0.205000
2021-02-05    0.205000
2021-05-07    0.220000
2021-08-06    0.220000
2021-11-05    0.220000
Name: Dividends, dtype: float64

In [38]:
ticker.splits

Date
2014-06-09    7.0
2020-08-31    4.0
Name: Stock Splits, dtype: float64

In [39]:
ticker.financials

,2021-09-25,2020-09-26,2019-09-28,2018-09-29
Research Development,21914000000.0,18752000000.0,16217000000.0,14236000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,109207000000.0,67091000000.0,65737000000.0,72903000000.0
Minority Interest,None,None,None,None
Net Income,94680000000.0,57411000000.0,55256000000.0,59531000000.0
Selling General Administrative,21973000000.0,19916000000.0,18245000000.0,16705000000.0
Gross Profit,152836000000.0,104956000000.0,98392000000.0,101839000000.0
Ebit,108949000000.0,66288000000.0,63930000000.0,70898000000.0
Operating Income,108949000000.0,66288000000.0,63930000000.0,70898000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-2645000000.0,-2873000000.0,-3576000000.0,-3240000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,14527000000.0,9680000000.0,10481000000.0,13372000000.0
Total Revenue,365817000000.0,274515000000.0,260174000000.0,265595000000.0
Total Operating Expenses,256868000000.0,208227000000.0,196244000000.0,194697000000.0
Cost Of Revenue,212981000000.0,169559000000.0,161782000000.0,163756000000.0
Total Other Income Expense Net,258000000.0,803000000.0,1807000000.0,2005000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,94680000000.0,57411000000.0,55256000000.0,59531000000.0
Net Income Applicable To Common Shares,94680000000.0,57411000000.0,55256000000.0,59531000000.0

In [40]:
ticker.quarterly_financials

,2021-09-25,2021-06-26,2021-03-27,2020-12-26
Research Development,5772000000.0,5717000000.0,5262000000.0,5163000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,23248000000.0,24369000000.0,28011000000.0,33579000000.0
Minority Interest,None,None,None,None
Net Income,20551000000.0,21744000000.0,23630000000.0,28755000000.0
Selling General Administrative,5616000000.0,5412000000.0,5314000000.0,5631000000.0
Gross Profit,35174000000.0,35255000000.0,38079000000.0,44328000000.0
Ebit,23786000000.0,24126000000.0,27503000000.0,33534000000.0
Operating Income,23786000000.0,24126000000.0,27503000000.0,33534000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-672000000.0,-665000000.0,-670000000.0,-638000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,2697000000.0,2625000000.0,4381000000.0,4824000000.0
Total Revenue,83360000000.0,81434000000.0,89584000000.0,111439000000.0
Total Operating Expenses,59574000000.0,57308000000.0,62081000000.0,77905000000.0
Cost Of Revenue,48186000000.0,46179000000.0,51505000000.0,67111000000.0
Total Other Income Expense Net,-538000000.0,243000000.0,508000000.0,45000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,20551000000.0,21744000000.0,23630000000.0,28755000000.0
Net Income Applicable To Common Shares,20551000000.0,21744000000.0,23630000000.0,28755000000.0

In [41]:
ticker.balance_sheet

,2021-09-25,2020-09-26,2019-09-28,2018-09-29
Total Liab,2.879120e+11,2.585490e+11,2.480280e+11,2.585780e+11
Total Stockholder Equity,6.309000e+10,6.533900e+10,9.048800e+10,1.071470e+11
Other Current Liab,5.357700e+10,4.786700e+10,4.324200e+10,3.929300e+10
Total Assets,3.510020e+11,3.238880e+11,3.385160e+11,3.657250e+11
Common Stock,5.736500e+10,5.077900e+10,4.517400e+10,4.020100e+10
Other Current Assets,1.411100e+10,1.126400e+10,1.235200e+10,1.208700e+10
Retained Earnings,5.562000e+09,1.496600e+10,4.589800e+10,7.040000e+10
Other Liab,4.305000e+10,4.610800e+10,5.050300e+10,4.891400e+10
Treasury Stock,1.630000e+08,-4.060000e+08,-5.840000e+08,-3.454000e+09
Other Assets,3.876200e+10,3.395200e+10,3.297800e+10,2.228300e+10
Cash,3.494000e+10,3.801600e+10,4.884400e+10,2.591300e+10
Total Current Liabilities,1.254810e+11,1.053920e+11,1.057180e+11,1.159290e+11
Short Long Term Debt,9.613000e+09,8.773000e+09,1.026000e+10,8.784000e+09
Other Stockholder Equity,1.630000e+08,-4.060000e+08,-5.840000e+08,-3.454000e+09
Property Plant Equipment,4.952700e+10,4.533600e+10,3.737800e+10,4.130400e+10
Total Current Assets,1.348360e+11,1.437130e+11,1.628190e+11,1.313390e+11
Long Term Investments,1.278770e+11,1.008870e+11,1.053410e+11,1.707990e+11
Net Tangible Assets,6.309000e+10,6.533900e+10,9.048800e+10,1.071470e+11
Short Term Investments,2.769900e+10,5.292700e+10,5.171300e+10,4.038800e+10
Net Receivables,5.150600e+10,3.744500e+10,4.580400e+10,4.899500e+10
Long Term Debt,1.091060e+11,9.866700e+10,9.180700e+10,9.373500e+10
Inventory,6.580000e+09,4.061000e+09,4.106000e+09,3.956000e+09
Accounts Payable,5.476300e+10,4.229600e+10,4.623600e+10,5.588800e+10

In [42]:
ticker.quarterly_balance_sheet

,2021-09-25,2021-06-26,2021-03-27,2020-12-26
Total Liab,2.879120e+11,2.655600e+11,2.679800e+11,2.878300e+11
Total Stockholder Equity,6.309000e+10,6.428000e+10,6.917800e+10,6.622400e+10
Other Current Liab,5.357700e+10,5.130600e+10,5.325500e+10,5.589900e+10
Total Assets,3.510020e+11,3.298400e+11,3.371580e+11,3.540540e+11
Common Stock,5.736500e+10,5.498900e+10,5.420300e+10,5.174400e+10
Other Current Assets,1.411100e+10,1.364100e+10,1.337600e+10,1.368700e+10
Retained Earnings,5.562000e+09,9.233000e+09,1.526100e+10,1.430100e+10
Other Liab,4.305000e+10,3.835400e+10,3.985300e+10,4.304200e+10
Treasury Stock,1.630000e+08,5.800000e+07,-2.860000e+08,1.790000e+08
Other Assets,3.876200e+10,4.485400e+10,4.333900e+10,4.327000e+10
Cash,3.494000e+10,3.405000e+10,3.846600e+10,3.601000e+10
Total Current Liabilities,1.254810e+11,1.077540e+11,1.063850e+11,1.325070e+11
Short Long Term Debt,9.613000e+09,8.039000e+09,8.003000e+09,7.762000e+09
Other Stockholder Equity,1.630000e+08,5.800000e+07,-2.860000e+08,1.790000e+08
Property Plant Equipment,4.952700e+10,3.861500e+10,3.781500e+10,3.793300e+10
Total Current Assets,1.348360e+11,1.144230e+11,1.214650e+11,1.541060e+11
Long Term Investments,1.278770e+11,1.319480e+11,1.345390e+11,1.187450e+11
Net Tangible Assets,6.309000e+10,6.428000e+10,6.917800e+10,6.622400e+10
Short Term Investments,2.769900e+10,2.764600e+10,3.136800e+10,4.081600e+10
Net Receivables,5.150600e+10,3.390800e+10,3.303600e+10,5.862000e+10
Long Term Debt,1.091060e+11,1.057520e+11,1.086420e+11,9.928100e+10
Inventory,6.580000e+09,5.178000e+09,5.219000e+09,4.973000e+09
Accounts Payable,5.476300e+10,4.040900e+10,4.012700e+10,6.384600e+10

In [43]:
ticker.cashflow

,2021-09-25,2020-09-26,2019-09-28,2018-09-29
Investments,-2.819000e+09,5.335000e+09,5.809300e+10,3.084500e+10
Change To Liabilities,1.400200e+10,-1.981000e+09,-2.548000e+09,9.172000e+09
Total Cashflows From Investing Activities,-1.454500e+10,-4.289000e+09,4.589600e+10,1.606600e+10
Net Borrowings,1.266500e+10,2.499000e+09,-7.819000e+09,4.320000e+08
Total Cash From Financing Activities,-9.335300e+10,-8.682000e+10,-9.097600e+10,-8.787600e+10
Change To Operating Activities,-6.146000e+09,8.810000e+08,-8.960000e+08,3.001600e+10
Issuance Of Stock,1.105000e+09,8.800000e+08,7.810000e+08,6.690000e+08
Net Income,9.468000e+10,5.741100e+10,5.525600e+10,5.953100e+10
Change In Cash,-3.860000e+09,-1.043500e+10,2.431100e+10,5.624000e+09
Repurchase Of Stock,-9.252700e+10,-7.599200e+10,-6.971400e+10,-7.526500e+10
Total Cash From Operating Activities,1.040380e+11,8.067400e+10,6.939100e+10,7.743400e+10
Depreciation,1.128400e+10,1.105600e+10,1.254700e+10,1.090300e+10
Other Cashflows From Investing Activities,-6.080000e+08,-7.910000e+08,-1.078000e+09,-7.450000e+08
Dividends Paid,-1.446700e+10,-1.408100e+10,-1.411900e+10,-1.371200e+10
Change To Inventory,-2.642000e+09,-1.270000e+08,-2.890000e+08,8.280000e+08
Change To Account Receivables,-1.012500e+10,6.917000e+09,2.450000e+08,-5.322000e+09
Other Cashflows From Financing Activities,-1.290000e+08,-1.260000e+08,-1.050000e+08,-1.050000e+08
Change To Netincome,2.985000e+09,6.517000e+09,5.076000e+09,-2.769400e+10
Capital Expenditures,-1.108500e+10,-7.309000e+09,-1.049500e+10,-1.331300e+10

In [44]:
ticker.earnings

           Revenue     Earnings
Year
2018  265595000000  59531000000
2019  260174000000  55256000000
2020  274515000000  57411000000
2021  365817000000  94680000000

In [45]:
ticker.quarterly_earnings

              Revenue     Earnings
Quarter
4Q2020   111439000000  28755000000
1Q2021    89584000000  23630000000
2Q2021    81434000000  21744000000
3Q2021    83360000000  20551000000

In [46]:
ticker.sustainability

                                     Value
2021-9
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           7.99
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                               53
governanceScore                       8.64
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             16.92
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                           13.68
peerGroup              Technology Hardware
smallArms                            False
environmentScore                      0.29
governancePercentile                  None
militaryContract                     False

In [47]:
ticker.recommendations

                                  Firm      To Grade From Grade Action
Date
2012-02-09 08:17:00  Canaccord Genuity           Buy              main
2012-03-08 07:33:00     FBN Securities    Outperform              main
2012-03-13 06:08:00          Jefferies           Buy              main
2012-03-14 06:13:00     Morgan Stanley    Overweight              main
2012-03-14 08:21:00  Canaccord Genuity           Buy              main
...                                ...           ...        ...    ...
2021-10-19 12:55:08        DA Davidson           Buy              main
2021-10-27 13:11:01     Morgan Stanley    Overweight              main
2021-10-29 10:56:50        Oppenheimer    Outperform              main
2021-10-29 11:16:45           Barclays  Equal-Weight              main
2021-10-29 11:41:38     Morgan Stanley    Overweight              main

[812 rows x 4 columns]

In [48]:
ticker.calendar

                                    0                    1
Earnings Date     2022-01-25 10:59:00  2022-01-31 12:00:00
Earnings Average                 1.88                 1.88
Earnings Low                     1.75                 1.75
Earnings High                    1.97                 1.97
Revenue Average          117972000000         117972000000
Revenue Low              111806000000         111806000000
Revenue High             121303000000         121303000000

# Option Expiration Dates

In [49]:
ticker.options

('2021-11-26',
 '2021-12-03',
 '2021-12-10',
 '2021-12-17',
 '2021-12-23',
 '2021-12-31',
 '2022-01-21',
 '2022-02-18',
 '2022-03-18',
 '2022-04-14',
 '2022-05-20',
 '2022-06-17',
 '2022-09-16',
 '2023-01-20',
 '2023-03-17',
 '2023-06-16',
 '2023-09-15',
 '2024-01-19')

In [50]:
expiration_date = ticker.options[0]

In [51]:
options = ticker.option_chain(expiration_date)

In [52]:
options.calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL211126C00075000,2021-11-19 20:09:18,75.0,85.46,84.80,86.50,2.459999,2.963854,5,5,2.308598,True,REGULAR,USD
1,AAPL211126C00080000,2021-11-19 20:23:59,80.0,80.25,79.80,81.50,9.820000,13.942921,4,30,2.125005,True,REGULAR,USD
2,AAPL211126C00085000,2021-11-19 20:28:31,85.0,75.42,74.80,76.50,6.570000,9.542483,67,24,1.957031,True,REGULAR,USD
3,AAPL211126C00090000,2021-11-19 19:53:59,90.0,70.50,69.80,71.50,11.750000,20.000000,1,24,1.792970,True,REGULAR,USD
4,AAPL211126C00100000,2021-11-19 19:37:29,100.0,60.66,59.80,61.50,9.560001,18.708418,4,58,1.496096,True,REGULAR,USD
5,AAPL211126C00105000,2021-10-27 17:28:31,105.0,44.69,54.80,56.50,0.000000,0.000000,1,4,1.355472,True,REGULAR,USD
6,AAPL211126C00110000,2021-11-19 15:40:35,110.0,48.80,49.80,51.50,0.649998,1.349943,9,16,1.222660,True,REGULAR,USD
7,AAPL211126C00115000,2021-11-19 14:48:37,115.0,42.45,45.45,45.75,0.450001,1.071430,12,29,1.000005,True,REGULAR,USD
8,AAPL211126C00120000,2021-11-19 18:04:30,120.0,40.35,39.80,40.75,2.680000,7.114416,3,447,1.078130,True,REGULAR,USD
9,AAPL211126C00125000,2021-11-18 16:35:32,125.0,29.60,34.85,35.75,0.000000,0.000000,4,37,0.946290,True,REGULAR,USD
10,AAPL211126C00129000,2021-11-18 18:11:29,129.0,28.50,30.85,32.50,0.000000,0.000000,4,45,0.781252,True,REGULAR,USD
11,AAPL211126C00130000,2021-11-19 19:50:27,130.0,30.37,29.85,31.55,2.570002,9.244611,41,85,0.780276,True,REGULAR,USD
12,AAPL211126C00131000,2021-11-17 16:08:19,131.0,27.75,28.85,29.80,5.250000,23.333334,2,11,0.826174,True,REGULAR,USD
13,AAPL211126C00132000,2021-11-19 19:15:23,132.0,28.60,27.95,28.80,3.800001,15.322585,55,53,0.799807,True,REGULAR,USD
14,AAPL211126C00133000,2021-11-19 15:00:12,133.0,25.95,26.85,28.55,3.950001,17.954550,1,165,0.707034,True,REGULAR,USD
15,AAPL211126C00134000,2021-11-19 14:55:52,134.0,24.70,26.50,27.55,0.450001,1.855673,67,156,0.853517,True,REGULAR,USD
16,AAPL211126C00135000,2021-11-19 19:29:24,135.0,25.73,25.50,26.60,2.990000,13.148636,14,219,0.834963,True,REGULAR,USD
17,AAPL211126C00136000,2021-11-19 17:49:06,136.0,24.11,24.55,24.75,5.740000,31.246593,6,363,0.595707,True,REGULAR,USD
18,AAPL211126C00137000,2021-11-19 19:19:04,137.0,23.65,23.30,23.80,3.049999,14.805820,25,81,0.671878,True,REGULAR,USD
19,AAPL211126C00138000,2021-11-19 15:02:04,138.0,21.80,21.90,22.85,7.900000,56.834530,24,102,0.670902,True,REGULAR,USD
20,AAPL211126C00139000,2021-11-19 19:49:55,139.0,21.45,21.55,21.80,2.730001,14.583342,41,97,0.546880,True,REGULAR,USD
21,AAPL211126C00140000,2021-11-19 20:29:05,140.0,20.50,19.95,20.85,1.850000,9.919574,304,903,0.619144,True,REGULAR,USD
22,AAPL211126C00141000,2021-11-19 20:19:48,141.0,19.25,19.55,19.85,1.750000,10.000000,16,1098,0.517583,True,REGULAR,USD
23,AAPL211126C00142000,2021-11-19 20:21:09,142.0,18.28,18.55,18.80,1.930000,11.804283,47,683,0.545903,True,REGULAR,USD
24,AAPL211126C00143000,2021-11-19 20:31:58,143.0,17.66,17.35,17.85,2.860000,19.324322,31,375,0.541020,True,REGULAR,USD
25,AAPL211126C00144000,2021-11-19 20:59:24,144.0,16.71,15.90,16.90,2.609999,18.510630,132,777,0.533208,True,REGULAR,USD
26,AAPL211126C00145000,2021-11-19 20:55:03,145.0,15.45,15.30,15.85,2.500000,19.305020,302,1975,0.489263,True,REGULAR,USD
27,AAPL211126C00146000,2021-11-19 20:58:58,146.0,14.70,14.10,14.90,2.800000,23.529415,105,2075,0.479986,True,REGULAR,USD
28,AAPL211126C00147000,2021-11-19 20:59:37,147.0,13.70,12.95,13.85,2.800000,25.688076,602,1520,0.436529,True,REGULAR,USD
29,AAPL211126C00148000,2021-11-19 20:57:39,148.0,12.60,11.95,12.85,2.530001,25.124138,620,2783,0.410650,True,REGULAR,USD
30,AAPL211126C00149000,2021-11-19 20:56:23,149.0,11.55,11.15,12.50,2.500000,27.624310,448,6697,0.536626,True,REGULAR,USD
31,AAPL211126C00150000,2021-11-19 20:59:37,150.0,10.77,10.45,10.90,2.620001,32.147250,41217,38428,0.372077,True,REGULAR,USD
32,AAPL211126C00152500,2021-11-19 20:59:47,152.5,8.50,8.10,8.50,2.550000,42.857147,5421,15727,0.326179,True,REGULAR,USD
33,AAPL211126C00155000,2021-11-19 20:59:54,155.0,6.13,6.05,6.20,2.180000,55.189873,97517,55370,0.287605,True,REGULAR,USD
34,AAPL211126C00157500,2021-11-19 20:59:52,157.5,3.95,3.85,4.10,1.420000,56.126488,67766,37348,0.256599,True,REGULAR,USD
35,AAPL211126C00160000,2021-11-19 20:59:59,160.0,2.32,2.31,2.37,0.780000,50.649350,211605,70331,0.235359,True,REGULAR,USD
36,AAPL211126C00162500,2021-11-19 20:59:59,162.5,1.29,1.25,1.29,0.350000,37.234040,84437,18819,0.238045,False,REGULAR,USD
37,AAPL211126C00165000,2021-11-19 20:59:59,165.0,0.71,0.66,0.69,0.140000,24.561401,88516,13968,0.250007,False,REGULAR,USD
38,AAPL211126C00167500,2021-11-19 20:59:59,167.5,0.38,0.36,0.38,0.040000,11.764703,13791,3149,0.267097,False,REGULAR,USD
39,AAPL211126C00170000,2021-11-19 20:59:56,170.0,0.23,0.22,0.23,0.010000,4.545457,55347,9282,0.290046,False,REGULAR,USD
40,AAPL211126C00172500,2021-11-19 20:59:58,172.5,0.14,0.13,0.14,0.000000,0.000000,7972,2468,0.310554,False,REGULAR,USD
41,AAPL211126C00175000,2021-11-19 20:59:56,175.0,0.10,0.09,0.10,0.010000,11.111108,6470,3088,0.337897,False,REGULAR,USD
42,AAPL211126C00180000,2021-11-19 20:58:43,180.0,0.06,0.05,0.06,0.020000,50.000000,6593,2290,0.392584,False,REGULAR,USD
43,AAPL211126C00185000,2021-11-19 20:59:56,185.0,0.03,0.03,0.05,-0.010000,-25.000000,1759,1335,0.460943,False,REGULAR,USD
44,AAPL211126C00190000,2021-11-19 20:59:26,190.0,0.03,0.02,0.04,0.010000,50.000000,5600,1627,0.500005,False,REGULAR,USD
45,AAPL211126C00195000,2021-11-19 20:55:55,195.0,0.02,0.01,0.02,0.000000,0.000000,1638,693,0.523442,False,REGULAR,USD
46,AAPL211126C00200000,2021-11-19 20:56:27,200.0,0.02,0.01,0.02,0.000000,0.000000,1138,949,0.585942,False,REGULAR,USD
47,AAPL211126C00205000,2021-11-19 20:49:59,205.0,0.02,0.01,0.02,0.010000,100.000000,816,1220,0.640629,False,REGULAR,USD

In [53]:
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     48 non-null     object
 1   lastTradeDate      48 non-null     datetime64[ns]
 2   strike             48 non-null     float64
 3   lastPrice          48 non-null     float64
 4   bid                48 non-null     float64
 5   ask                48 non-null     float64
 6   change             48 non-null     float64
 7   percentChange      48 non-null     float64
 8   volume             48 non-null     int64
 9   openInterest       48 non-null     int64
 10  impliedVolatility  48 non-null     float64
 11  inTheMoney         48 non-null     bool
 12  contractSize       48 non-null     object
 13  currency           48 non-null     object
dtypes: bool(1), datetime64[ns](1), float64(7), int64(2), object(3)
memory usage: 5.0+ KB

In [54]:
options.puts

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL211126P00075000,2021-11-08 17:30:26,75.0,0.01,0.00,0.01,0.000000,0.000000,2.0,7,1.718751,False,REGULAR,USD
1,AAPL211126P00080000,2021-10-11 17:33:17,80.0,0.06,0.00,0.01,0.000000,0.000000,NaN,2,1.562502,False,REGULAR,USD
2,AAPL211126P00085000,2021-11-04 16:22:20,85.0,0.01,0.00,0.03,0.000000,0.000000,2.0,7,1.593752,False,REGULAR,USD
3,AAPL211126P00090000,2021-10-25 16:04:20,90.0,0.03,0.00,0.01,0.000000,0.000000,1.0,3,1.312503,False,REGULAR,USD
4,AAPL211126P00095000,2021-11-05 14:34:21,95.0,0.01,0.00,0.01,0.000000,0.000000,519.0,534,1.218754,False,REGULAR,USD
5,AAPL211126P00100000,2021-11-19 18:07:54,100.0,0.01,0.00,0.01,-0.010000,-50.000000,5.0,686,1.093755,False,REGULAR,USD
6,AAPL211126P00105000,2021-11-19 15:44:12,105.0,0.01,0.00,0.02,0.000000,0.000000,600.0,784,1.062505,False,REGULAR,USD
7,AAPL211126P00110000,2021-11-19 18:05:36,110.0,0.01,0.00,0.01,0.000000,0.000000,1828.0,800,0.890626,False,REGULAR,USD
8,AAPL211126P00115000,2021-11-19 20:56:16,115.0,0.01,0.00,0.01,0.000000,0.000000,4486.0,984,0.781252,False,REGULAR,USD
9,AAPL211126P00120000,2021-11-19 20:47:18,120.0,0.01,0.00,0.02,0.000000,0.000000,185.0,862,0.750003,False,REGULAR,USD
10,AAPL211126P00125000,2021-11-19 20:46:01,125.0,0.02,0.01,0.02,0.000000,0.000000,67.0,1650,0.671878,False,REGULAR,USD
11,AAPL211126P00129000,2021-11-19 20:46:33,129.0,0.03,0.02,0.03,0.010000,50.000000,166.0,1143,0.632816,False,REGULAR,USD
12,AAPL211126P00130000,2021-11-19 20:58:37,130.0,0.02,0.02,0.04,0.000000,0.000000,506.0,1315,0.625004,False,REGULAR,USD
13,AAPL211126P00131000,2021-11-19 20:58:41,131.0,0.04,0.02,0.04,0.020000,100.000000,237.0,1054,0.605473,False,REGULAR,USD
14,AAPL211126P00132000,2021-11-19 20:53:16,132.0,0.03,0.03,0.05,0.010000,50.000000,338.0,475,0.605473,False,REGULAR,USD
15,AAPL211126P00133000,2021-11-19 20:37:51,133.0,0.03,0.03,0.05,0.010000,50.000000,287.0,1217,0.585942,False,REGULAR,USD
16,AAPL211126P00134000,2021-11-19 20:54:06,134.0,0.04,0.03,0.05,0.010000,33.333336,139.0,754,0.562504,False,REGULAR,USD
17,AAPL211126P00135000,2021-11-19 20:59:40,135.0,0.06,0.04,0.05,0.030000,100.000000,119.0,3972,0.550786,False,REGULAR,USD
18,AAPL211126P00136000,2021-11-19 20:52:51,136.0,0.06,0.04,0.06,0.030000,100.000000,183.0,2771,0.539067,False,REGULAR,USD
19,AAPL211126P00137000,2021-11-19 20:59:51,137.0,0.06,0.05,0.07,0.030000,100.000000,337.0,1361,0.531255,False,REGULAR,USD
20,AAPL211126P00138000,2021-11-19 20:40:09,138.0,0.05,0.06,0.07,0.020000,66.666670,455.0,834,0.515630,False,REGULAR,USD
21,AAPL211126P00139000,2021-11-19 20:54:50,139.0,0.07,0.06,0.08,0.040000,133.333340,753.0,1550,0.500005,False,REGULAR,USD
22,AAPL211126P00140000,2021-11-19 20:55:36,140.0,0.08,0.07,0.09,0.040000,100.000000,1700.0,5329,0.497075,False,REGULAR,USD
23,AAPL211126P00141000,2021-11-19 20:52:40,141.0,0.08,0.07,0.09,0.030000,59.999996,1097.0,2223,0.474615,False,REGULAR,USD
24,AAPL211126P00142000,2021-11-19 20:55:44,142.0,0.09,0.08,0.10,0.030000,50.000010,2931.0,2087,0.460943,False,REGULAR,USD
25,AAPL211126P00143000,2021-11-19 20:57:13,143.0,0.09,0.08,0.10,0.030000,50.000010,1943.0,2760,0.438482,False,REGULAR,USD
26,AAPL211126P00144000,2021-11-19 20:58:25,144.0,0.09,0.09,0.11,0.010000,12.500008,1427.0,1228,0.422857,False,REGULAR,USD
27,AAPL211126P00145000,2021-11-19 20:59:54,145.0,0.11,0.10,0.12,0.030000,37.500004,6697.0,4324,0.406256,False,REGULAR,USD
28,AAPL211126P00146000,2021-11-19 20:59:33,146.0,0.12,0.11,0.13,0.000000,0.000000,2015.0,4209,0.389655,False,REGULAR,USD
29,AAPL211126P00147000,2021-11-19 20:59:54,147.0,0.12,0.13,0.14,-0.020000,-14.285716,3975.0,9466,0.372077,False,REGULAR,USD
30,AAPL211126P00148000,2021-11-19 20:59:57,148.0,0.15,0.14,0.16,-0.020000,-11.764703,2936.0,12300,0.357428,False,REGULAR,USD
31,AAPL211126P00149000,2021-11-19 20:59:50,149.0,0.16,0.16,0.18,-0.060000,-27.272728,5102.0,14052,0.341803,False,REGULAR,USD
32,AAPL211126P00150000,2021-11-19 20:59:57,150.0,0.19,0.19,0.21,-0.090000,-32.142860,13484.0,24996,0.328620,False,REGULAR,USD
33,AAPL211126P00152500,2021-11-19 20:59:57,152.5,0.30,0.29,0.32,-0.270000,-47.368420,15424.0,9951,0.295905,False,REGULAR,USD
34,AAPL211126P00155000,2021-11-19 20:59:59,155.0,0.51,0.47,0.51,-0.620000,-54.867256,33048.0,10096,0.262947,False,REGULAR,USD
35,AAPL211126P00157500,2021-11-19 20:59:54,157.5,0.90,0.89,0.92,-1.230000,-57.746483,39293.0,5025,0.239265,False,REGULAR,USD
36,AAPL211126P00160000,2021-11-19 20:59:55,160.0,1.72,1.74,1.77,-1.980000,-53.513515,33523.0,2874,0.229744,False,REGULAR,USD
37,AAPL211126P00162500,2021-11-19 20:59:28,162.5,3.20,3.10,3.35,-2.390000,-42.754920,3607.0,226,0.251228,True,REGULAR,USD
38,AAPL211126P00165000,2021-11-19 20:54:57,165.0,5.30,5.00,5.25,-2.400000,-31.168827,3140.0,212,0.266609,True,REGULAR,USD
39,AAPL211126P00167500,2021-11-19 20:57:20,167.5,7.48,7.20,7.40,-2.520000,-25.200000,485.0,77,0.281745,True,REGULAR,USD
40,AAPL211126P00170000,2021-11-19 20:54:50,170.0,9.90,9.55,9.75,-1.900001,-16.101700,65.0,49,0.309577,True,REGULAR,USD
41,AAPL211126P00175000,2021-11-19 20:34:05,175.0,14.55,14.35,14.65,-5.749999,-28.325119,7.0,41,0.385260,True,REGULAR,USD
42,AAPL211126P00180000,2021-11-19 20:48:53,180.0,19.30,19.35,19.60,-2.700001,-12.272731,14.0,3,0.457037,True,REGULAR,USD
43,AAPL211126P00185000,2021-11-19 15:14:40,185.0,26.55,24.30,25.20,-4.450001,-14.354841,12.0,0,0.618168,True,REGULAR,USD
44,AAPL211126P00190000,2021-11-19 18:45:15,190.0,30.05,28.50,30.20,-10.049999,-25.062344,1.0,0,0.863283,True,REGULAR,USD
45,AAPL211126P00195000,2021-11-19 19:06:30,195.0,34.50,33.55,35.20,-9.400002,-21.412304,29.0,0,0.959961,True,REGULAR,USD
46,AAPL211126P00200000,2021-11-19 15:10:38,200.0,41.59,38.50,40.05,-3.820000,-8.412244,21.0,1,1.001958,True,REGULAR,USD
47,AAPL211126P00205000,2021-11-03 17:43:17,205.0,54.82,43.50,45.20,0.000000,0.000000,23.0,0,1.140141,True,REGULAR,USD

In [55]:
options.puts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     48 non-null     object
 1   lastTradeDate      48 non-null     datetime64[ns]
 2   strike             48 non-null     float64
 3   lastPrice          48 non-null     float64
 4   bid                48 non-null     float64
 5   ask                48 non-null     float64
 6   change             48 non-null     float64
 7   percentChange      48 non-null     float64
 8   volume             47 non-null     float64
 9   openInterest       48 non-null     int64
 10  impliedVolatility  48 non-null     float64
 11  inTheMoney         48 non-null     bool
 12  contractSize       48 non-null     object
 13  currency           48 non-null     object
dtypes: bool(1), datetime64[ns](1), float64(8), int64(1), object(3)
memory usage: 5.0+ KB

`End of File`