<h1>Introduction to Python 3</h1>
<it>This notebook takes you through the essential minimum of Python that you will need for this course</it>

## Print Statement

Print Statement is a function in Python 3 so it needs round brackets

In [1]:
print("Hello Me!")

Hello Me!

In [2]:
# Can string together values which get separated 
print("Hello", 1102, "EDHEC")

Hello 1102 EDHEC

In [3]:
# Adding strings does not add a space 
print("Hello" + str(1102) + "EDHEC")

Hello1102EDHEC

<h2> DataTypes</h2>

Python is not a typed language meaning that rather than the programmer define the data type of a variable

Python determines the data type based on the type of value assigned to the variable

### Integers

In [4]:
# Integers
x = 3
y = 2

In [5]:
# How to check
type(x)

int

In [6]:
type(y)

int

In [7]:
# Python 3 is smart enough to do the division without explicit conversion to floats
x/y

1.5

In [8]:
y/x

0.6666666666666666

### Floats

In [9]:
# I can change the type of x if I assign a non integer value
x=22421.2242239

In [10]:
# It is stored to around 16 significant places - good enough for financial work
x

22421.2242239

In [11]:
type(x)

float

In [12]:
x*x

502711295.6984002

In [13]:
%precision %10.4f

'%10.4f'

In [14]:
x

22421.2242

In [15]:
# We can create string types
x = "Hello Edhec"

In [16]:
type(x)

str

### Booleans

In [17]:
# Use == to compare for equivalence 
1==1

True

In [18]:
1==0

False

In [19]:
if 1==1:
    print(True)
else:
    print(False)

True

### Strings

In [20]:
name = "EDHEC is a Business School with a Campus in Nice"
print(name)

EDHEC is a Business School with a Campus in Nice

In [21]:
# We can get information about strings such as the length
len(name)

48

In [22]:
name.split()

['EDHEC', 'is', 'a', 'Business', 'School', 'with', 'a', 'Campus', 'in', 'Nice']

In [23]:
name.upper()

'EDHEC IS A BUSINESS SCHOOL WITH A CAMPUS IN NICE'

In [24]:
name.lower()

'edhec is a business school with a campus in nice'

In [25]:
address = "493 Promenade des Anglais"

In [26]:
fullname = name + '\n' + address
print(fullname)

EDHEC is a Business School with a Campus in Nice
493 Promenade des Anglais

### Lists

In [27]:
# We can also have a type called a list that can have different types
list = ['EDHEC Business School', 493, 'Promenade des Anglais', 'France', 'World', 'Solar System' ]

In [28]:
# We get the number of elements in the list from the function len
len(list)

6

In [29]:
# We can access individual elements in a list using an index
list[2]

'Promenade des Anglais'

In [30]:
# We can access sublists as follows
list[1:4]

[493, 'Promenade des Anglais', 'France']

In [31]:
# We can add to the list using append
list.append('Galaxy')
print(list)

['EDHEC Business School', 493, 'Promenade des Anglais', 'France', 'World', 'Solar System', 'Galaxy']

In [32]:
# We can loop over the elements of a list
# NOTE THE INDENTATION AFTER THE :
for l in list:
    print(l)

EDHEC Business School
493
Promenade des Anglais
France
World
Solar System
Galaxy

### Matrices

We can define a matrix as a list of lists as follows

In [33]:
m = [[1,4,5],[3,2,7]]

In [34]:
print(m)

[[1, 4, 5], [3, 2, 7]]

In [35]:
m[0][0]

1

In [36]:
m[1][2]

7

### Tuples

In [37]:
# Tuples are like lists but cannot be changed
tup = (1,'Fred',234.4432)
print(tup)

(1, 'Fred', 234.4432)

In [38]:
# We can access elements using an index just like lists
tup[2]

  234.4432

In [39]:
# This will fail as we cannot assign to a tuple
# tup[2] = 1893.343

### Dictionary

In [40]:
dict = {'Name' : 'Pierre' , 'Age': 23, 'Nationality' : 'French'}

In [41]:
dict['Name']

'Pierre'

In [42]:
dict['Age']

23

In [43]:
dict['Age'] = 24

In [44]:
dict['Age']

24

<h2> Mathematical Operations</h2>

In [45]:
# I wanted to make sure that x is defined as a float so I added on some decimal places
x=15.0

In [46]:
type(x)

float

In [47]:
z = 1

In [48]:
type(z)

int

In [49]:
y = x * x / 2 - x + 3

In [50]:
y

  100.5000

In [51]:
type(y)

float

In [52]:
print(y)

100.5

## Programme Flow Control

In [53]:
# We can loop over contents of a list 
words = ['cat', 'monkey', 'hippopotamus']
for w in words:
    print(w, len(w))

cat 3
monkey 6
hippopotamus 12

In [54]:
# We will need to loop over integers and for this the range function is important
for i in range(0,4):
    print(i,i**2)

0 0
1 1
2 4
3 9

In [55]:
x=5
  
if x < 0:
    print("X is negative")
elif x < 10:
    print("X is positive but less than 10")
else:
    print("X is positive and greater than 10")

X is positive but less than 10

## Math Library

To use more advanced function we need to import the standard Python maths library

In [56]:
import math

In [57]:
# We can call it as follows
x = math.exp(y)

In [58]:
print(x)

4.4319559098458955e+43

Having to prefix the function name with "math" every time is ugly and complicates the code. We do this instead.

In [59]:
from math import exp

In [60]:
x = exp(y)

In [61]:
print(x)

4.4319559098458955e+43

Some people do the following

In [62]:
from math import *

In [63]:
# We can then access every function in the math library
y = 10
x=factorial(y)

In [64]:
print(x)

3628800

But this is not advised - it pollutes the name space and you may find that functions have the same name as functions you want
to create

My preferred option is <b>from math import xxx, yyy</b> where xxx, yyy are the functions required


## Writing Functions in Python

In [65]:
# Use the keyword def to start the function and indent the function body
# There is no need to define the type of the function's inputs
def sigmoid(x): 
     e = exp(-x)
     s = 1.0/(1.0+e)
     return s

In [66]:
sigmoid(10.0)

    1.0000

In [67]:
sigmoid(-10.0)

    0.0000

In [68]:
sigmoid(0.0)

    0.5000

Functions can return more than one value

In [69]:
def sigmoid2(x): 
     e = exp(-x)
     s = 1.0/(1.0+e)
     return s,e

In [70]:
sigmoid2(1.0)

(    0.7311,     0.3679)

In [71]:
# We can assign the value of the function as follows
s,e = sigmoid2(1.0)

In [72]:
print(s,e)

0.7310585786300049 0.36787944117144233