# Downloading Market and Fundamental Data with `yfinance`

## Imports & Settings

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd

## How to work with a Ticker object

In [10]:
import yfinance as yf
symbol = 'AAPL'
ticker = yf.Ticker(symbol)

In [11]:
pd.Series(ticker.info).head(20)

zip                                                                95014
sector                                                        Technology
fullTimeEmployees                                                 100000
longBusinessSummary    Apple Inc. designs, manufactures, and markets ...
city                                                           Cupertino
phone                                                       408 996 1010
state                                                                 CA
country                                                    United States
companyOfficers                                                       []
website                                            https://www.apple.com
maxAge                                                                 1
address1                                              One Apple Park Way
industry                                            Consumer Electronics
ebitdaMargins                                                    0.33891
profitMargins                                                    0.26579
grossMargins                                                     0.43019
operatingCashflow                                           112241000448
revenueGrowth                                                      0.112
operatingMargins                                                   0.309
ebitda                                                      128217997312
dtype: object

### Get market data

In [12]:
data = ticker.history(period='5d',
                      interval='1m',
                      start=None,
                      end=None,
                      actions=True,
                      auto_adjust=True,
                      back_adjust=False)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1945 entries, 2022-02-11 09:30:00-05:00 to 2022-02-17 15:59:00-05:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1945 non-null   float64
 1   High          1945 non-null   float64
 2   Low           1945 non-null   float64
 3   Close         1945 non-null   float64
 4   Volume        1945 non-null   int64
 5   Dividends     1945 non-null   int64
 6   Stock Splits  1945 non-null   int64
dtypes: float64(4), int64(3)
memory usage: 121.6 KB

### View company actions

In [13]:
# show actions (dividends, splits)
ticker.actions

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []

In [14]:
ticker.dividends

Series([], Name: Dividends, dtype: int64)

In [15]:
ticker.splits

Series([], Name: Stock Splits, dtype: int64)

### Annual and Quarterly Financial Statement Summary

In [16]:
ticker.financials

,2021-09-25,2020-09-26,2019-09-28,2018-09-29
Research Development,21914000000.0,18752000000.0,16217000000.0,14236000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,109207000000.0,67091000000.0,65737000000.0,72903000000.0
Minority Interest,None,None,None,None
Net Income,94680000000.0,57411000000.0,55256000000.0,59531000000.0
Selling General Administrative,21973000000.0,19916000000.0,18245000000.0,16705000000.0
Gross Profit,152836000000.0,104956000000.0,98392000000.0,101839000000.0
Ebit,108949000000.0,66288000000.0,63930000000.0,70898000000.0
Operating Income,108949000000.0,66288000000.0,63930000000.0,70898000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-2645000000.0,-2873000000.0,-3576000000.0,-3240000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,14527000000.0,9680000000.0,10481000000.0,13372000000.0
Total Revenue,365817000000.0,274515000000.0,260174000000.0,265595000000.0
Total Operating Expenses,256868000000.0,208227000000.0,196244000000.0,194697000000.0
Cost Of Revenue,212981000000.0,169559000000.0,161782000000.0,163756000000.0
Total Other Income Expense Net,258000000.0,803000000.0,1807000000.0,2005000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,94680000000.0,57411000000.0,55256000000.0,59531000000.0
Net Income Applicable To Common Shares,94680000000.0,57411000000.0,55256000000.0,59531000000.0

In [17]:
ticker.quarterly_financials

,2021-12-25,2021-09-25,2021-06-26,2021-03-27
Research Development,6306000000.0,5772000000.0,5717000000.0,5262000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,41241000000.0,23248000000.0,24369000000.0,28011000000.0
Minority Interest,None,None,None,None
Net Income,34630000000.0,20551000000.0,21744000000.0,23630000000.0
Selling General Administrative,6449000000.0,5616000000.0,5412000000.0,5314000000.0
Gross Profit,54243000000.0,35174000000.0,35255000000.0,38079000000.0
Ebit,41488000000.0,23786000000.0,24126000000.0,27503000000.0
Operating Income,41488000000.0,23786000000.0,24126000000.0,27503000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-694000000.0,-672000000.0,-665000000.0,-670000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,6611000000.0,2697000000.0,2625000000.0,4381000000.0
Total Revenue,123945000000.0,83360000000.0,81434000000.0,89584000000.0
Total Operating Expenses,82457000000.0,59574000000.0,57308000000.0,62081000000.0
Cost Of Revenue,69702000000.0,48186000000.0,46179000000.0,51505000000.0
Total Other Income Expense Net,-247000000.0,-538000000.0,243000000.0,508000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,34630000000.0,20551000000.0,21744000000.0,23630000000.0
Net Income Applicable To Common Shares,34630000000.0,20551000000.0,21744000000.0,23630000000.0

### Annual and Quarterly Balance Sheet

In [18]:
ticker.balance_sheet

,2021-09-25,2020-09-26,2019-09-28,2018-09-29
Total Liab,2.879120e+11,2.585490e+11,2.480280e+11,2.585780e+11
Total Stockholder Equity,6.309000e+10,6.533900e+10,9.048800e+10,1.071470e+11
Other Current Liab,5.357700e+10,4.786700e+10,4.324200e+10,3.929300e+10
Total Assets,3.510020e+11,3.238880e+11,3.385160e+11,3.657250e+11
Common Stock,5.736500e+10,5.077900e+10,4.517400e+10,4.020100e+10
Other Current Assets,1.411100e+10,1.126400e+10,1.235200e+10,1.208700e+10
Retained Earnings,5.562000e+09,1.496600e+10,4.589800e+10,7.040000e+10
Other Liab,4.305000e+10,4.610800e+10,5.050300e+10,4.891400e+10
Treasury Stock,1.630000e+08,-4.060000e+08,-5.840000e+08,-3.454000e+09
Other Assets,3.876200e+10,3.395200e+10,3.297800e+10,2.228300e+10
Cash,3.494000e+10,3.801600e+10,4.884400e+10,2.591300e+10
Total Current Liabilities,1.254810e+11,1.053920e+11,1.057180e+11,1.159290e+11
Short Long Term Debt,9.613000e+09,8.773000e+09,1.026000e+10,8.784000e+09
Other Stockholder Equity,1.630000e+08,-4.060000e+08,-5.840000e+08,-3.454000e+09
Property Plant Equipment,4.952700e+10,4.533600e+10,3.737800e+10,4.130400e+10
Total Current Assets,1.348360e+11,1.437130e+11,1.628190e+11,1.313390e+11
Long Term Investments,1.278770e+11,1.008870e+11,1.053410e+11,1.707990e+11
Net Tangible Assets,6.309000e+10,6.533900e+10,9.048800e+10,1.071470e+11
Short Term Investments,2.769900e+10,5.292700e+10,5.171300e+10,4.038800e+10
Net Receivables,5.150600e+10,3.744500e+10,4.580400e+10,4.899500e+10
Long Term Debt,1.091060e+11,9.866700e+10,9.180700e+10,9.373500e+10
Inventory,6.580000e+09,4.061000e+09,4.106000e+09,3.956000e+09
Accounts Payable,5.476300e+10,4.229600e+10,4.623600e+10,5.588800e+10

In [19]:
ticker.quarterly_balance_sheet

,2021-12-25,2021-09-25,2021-06-26,2021-03-27
Total Liab,3.092590e+11,2.879120e+11,2.655600e+11,2.679800e+11
Total Stockholder Equity,7.193200e+10,6.309000e+10,6.428000e+10,6.917800e+10
Other Current Liab,5.704300e+10,5.357700e+10,5.130600e+10,5.325500e+10
Total Assets,3.811910e+11,3.510020e+11,3.298400e+11,3.371580e+11
Common Stock,5.842400e+10,5.736500e+10,5.498900e+10,5.420300e+10
Other Current Assets,1.811200e+10,1.411100e+10,1.364100e+10,1.337600e+10
Retained Earnings,1.443500e+10,5.562000e+09,9.233000e+09,1.526100e+10
Other Liab,5.505600e+10,4.305000e+10,3.835400e+10,3.985300e+10
Treasury Stock,-9.270000e+08,1.630000e+08,5.800000e+07,-2.860000e+08
Other Assets,5.010900e+10,3.876200e+10,4.485400e+10,4.333900e+10
Cash,3.711900e+10,3.494000e+10,3.405000e+10,3.846600e+10
Total Current Liabilities,1.475740e+11,1.254810e+11,1.077540e+11,1.063850e+11
Short Long Term Debt,1.116900e+10,9.613000e+09,8.039000e+09,8.003000e+09
Other Stockholder Equity,-9.270000e+08,1.630000e+08,5.800000e+07,-2.860000e+08
Property Plant Equipment,3.924500e+10,4.952700e+10,3.861500e+10,3.781500e+10
Total Current Assets,1.531540e+11,1.348360e+11,1.144230e+11,1.214650e+11
Long Term Investments,1.386830e+11,1.278770e+11,1.319480e+11,1.345390e+11
Net Tangible Assets,7.193200e+10,6.309000e+10,6.428000e+10,6.917800e+10
Short Term Investments,2.679400e+10,2.769900e+10,2.764600e+10,3.136800e+10
Net Receivables,6.525300e+10,5.150600e+10,3.390800e+10,3.303600e+10
Long Term Debt,1.066290e+11,1.091060e+11,1.057520e+11,1.086420e+11
Inventory,5.876000e+09,6.580000e+09,5.178000e+09,5.219000e+09
Accounts Payable,7.436200e+10,5.476300e+10,4.040900e+10,4.012700e+10

### Annual and Quarterly Cashflow Statement

In [20]:
ticker.cashflow

,2021-09-25,2020-09-26,2019-09-28,2018-09-29
Investments,-2.819000e+09,5.335000e+09,5.809300e+10,3.084500e+10
Change To Liabilities,1.400200e+10,-1.981000e+09,-2.548000e+09,9.172000e+09
Total Cashflows From Investing Activities,-1.454500e+10,-4.289000e+09,4.589600e+10,1.606600e+10
Net Borrowings,1.266500e+10,2.499000e+09,-7.819000e+09,4.320000e+08
Total Cash From Financing Activities,-9.335300e+10,-8.682000e+10,-9.097600e+10,-8.787600e+10
Change To Operating Activities,-6.146000e+09,8.810000e+08,-8.960000e+08,3.001600e+10
Issuance Of Stock,1.105000e+09,8.800000e+08,7.810000e+08,6.690000e+08
Net Income,9.468000e+10,5.741100e+10,5.525600e+10,5.953100e+10
Change In Cash,-3.860000e+09,-1.043500e+10,2.431100e+10,5.624000e+09
Repurchase Of Stock,-9.252700e+10,-7.599200e+10,-6.971400e+10,-7.526500e+10
Total Cash From Operating Activities,1.040380e+11,8.067400e+10,6.939100e+10,7.743400e+10
Depreciation,1.128400e+10,1.105600e+10,1.254700e+10,1.090300e+10
Other Cashflows From Investing Activities,-6.080000e+08,-7.910000e+08,-1.078000e+09,-7.450000e+08
Dividends Paid,-1.446700e+10,-1.408100e+10,-1.411900e+10,-1.371200e+10
Change To Inventory,-2.642000e+09,-1.270000e+08,-2.890000e+08,8.280000e+08
Change To Account Receivables,-1.012500e+10,6.917000e+09,2.450000e+08,-5.322000e+09
Other Cashflows From Financing Activities,-1.290000e+08,-1.260000e+08,-1.050000e+08,-1.050000e+08
Change To Netincome,2.985000e+09,6.517000e+09,5.076000e+09,-2.769400e+10
Capital Expenditures,-1.108500e+10,-7.309000e+09,-1.049500e+10,-1.331300e+10

In [21]:
ticker.quarterly_cashflow

,2021-12-25,2021-09-25,2021-06-26,2021-03-27
Investments,-1.292900e+10,4.608000e+09,5.747000e+09,-7.895000e+09
Change To Liabilities,2.027500e+10,1.405000e+10,3.070000e+08,-2.336600e+10
Total Cashflows From Investing Activities,-1.610600e+10,8.350000e+08,3.572000e+09,-1.036800e+10
Net Borrowings,-1.000000e+09,3.220000e+09,3.220000e+09,1.042300e+10
Total Cash From Financing Activities,-2.815900e+10,-2.038200e+10,-2.939600e+10,-1.132600e+10
Change To Operating Activities,-1.049700e+10,-5.602000e+09,-6.048000e+09,1.126500e+10
Net Income,3.463000e+10,2.055100e+10,2.174400e+10,2.363000e+10
Change In Cash,2.701000e+09,6.530000e+08,-4.730000e+09,2.287000e+09
Repurchase Of Stock,-2.336600e+10,-2.044900e+10,-2.559500e+10,-1.884700e+10
Total Cash From Operating Activities,4.696600e+10,2.020000e+10,2.109400e+10,2.398100e+10
Depreciation,2.697000e+09,2.989000e+09,2.832000e+09,2.797000e+09
Other Cashflows From Investing Activities,-3.740000e+08,-5.300000e+08,-7.800000e+07,-2.040000e+08
Dividends Paid,-3.732000e+09,-3.640000e+09,-3.767000e+09,-3.447000e+09
Change To Inventory,6.810000e+08,-1.429000e+09,1.300000e+07,-2.760000e+08
Change To Account Receivables,-3.934000e+09,-8.809000e+09,1.031000e+09,8.598000e+09
Other Cashflows From Financing Activities,-6.100000e+07,-5.700000e+07,-3.400000e+07,-1.600000e+07
Change To Netincome,3.114000e+09,-1.550000e+09,1.215000e+09,1.333000e+09
Capital Expenditures,-2.803000e+09,-3.223000e+09,-2.093000e+09,-2.269000e+09
Issuance Of Stock,NaN,5.440000e+08,5.440000e+08,5.610000e+08

In [22]:
ticker.earnings

           Revenue     Earnings
Year
2018  265595000000  59531000000
2019  260174000000  55256000000
2020  274515000000  57411000000
2021  365817000000  94680000000

In [23]:
ticker.quarterly_earnings

              Revenue     Earnings
Quarter
1Q2021    89584000000  23630000000
2Q2021    81434000000  21744000000
3Q2021    83360000000  20551000000
4Q2021   123945000000  34630000000

### Sustainability: Environmental, Social and Governance (ESG)

In [24]:
ticker.sustainability

                                     Value
2022-2
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           6.86
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                               55
governanceScore                       8.76
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             16.27
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                           12.87
peerGroup              Technology Hardware
smallArms                            False
environmentScore                      0.65
governancePercentile                  None
militaryContract                     False

### Analyst Recommendations

In [25]:
ticker.recommendations.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 830 entries, 2012-02-09 08:17:00 to 2022-02-15 15:31:58
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Firm        830 non-null    object
 1   To Grade    830 non-null    object
 2   From Grade  830 non-null    object
 3   Action      830 non-null    object
dtypes: object(4)
memory usage: 32.4+ KB

In [26]:
ticker.recommendations.tail(10)

                                    Firm      To Grade From Grade Action
Date
2022-01-21 13:59:41          Wells Fargo    Overweight              main
2022-01-28 11:37:56             Barclays  Equal-Weight              main
2022-01-28 11:42:30                  UBS           Buy              main
2022-01-28 12:18:25        Raymond James    Outperform              main
2022-01-28 12:45:37       Morgan Stanley    Overweight              main
2022-01-28 13:01:39        Deutsche Bank           Buy              main
2022-01-28 14:19:01  New Street Research       Neutral       Sell     up
2022-01-28 15:10:56          Oppenheimer    Outperform              main
2022-01-31 15:44:19        Credit Suisse       Neutral              main
2022-02-15 15:31:58    Tigress Financial    Strong Buy              main

### Upcoming Events

In [27]:
ticker.calendar

                                    0                    1
Earnings Date     2022-04-26 20:00:00  2022-05-02 20:00:00
Earnings Average                 1.43                 1.43
Earnings Low                     1.34                 1.34
Earnings High                    1.56                 1.56
Revenue Average           93933900000          93933900000
Revenue Low               90042000000          90042000000
Revenue High             100444000000         100444000000

### Option Expiration Dates

In [28]:
ticker.options

('2022-02-18',
 '2022-02-25',
 '2022-03-04',
 '2022-03-11',
 '2022-03-18',
 '2022-03-25',
 '2022-04-01',
 '2022-04-14',
 '2022-05-20',
 '2022-06-17',
 '2022-07-15',
 '2022-08-19',
 '2022-09-16',
 '2022-10-21',
 '2022-11-18',
 '2023-01-20',
 '2023-03-17',
 '2023-06-16',
 '2023-09-15',
 '2024-01-19')

In [29]:
expiration = ticker.options[0]

In [30]:
options = ticker.option_chain(expiration)

In [31]:
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     59 non-null     object
 1   lastTradeDate      59 non-null     datetime64[ns, UTC]
 2   strike             59 non-null     float64
 3   lastPrice          59 non-null     float64
 4   bid                57 non-null     float64
 5   ask                59 non-null     float64
 6   change             59 non-null     float64
 7   percentChange      59 non-null     float64
 8   volume             56 non-null     float64
 9   openInterest       59 non-null     int64
 10  impliedVolatility  59 non-null     float64
 11  inTheMoney         59 non-null     bool
 12  contractSize       59 non-null     object
 13  currency           59 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(8), int64(1), object(3)
memory usage: 6.2+ KB

In [32]:
options.calls.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL220218C00070000,2022-02-14 20:55:06+00:00,70.0,98.20,0.0,0.0,0.0,0.0,1.0,16,0.00001,True,REGULAR,USD
1,AAPL220218C00075000,2022-02-09 19:51:22+00:00,75.0,100.85,0.0,0.0,0.0,0.0,12.0,11,0.00001,True,REGULAR,USD
2,AAPL220218C00080000,2022-02-16 19:44:13+00:00,80.0,92.10,0.0,0.0,0.0,0.0,1.0,2,0.00001,True,REGULAR,USD
3,AAPL220218C00085000,2022-02-15 17:03:51+00:00,85.0,86.52,0.0,0.0,0.0,0.0,3.0,741,0.00001,True,REGULAR,USD
4,AAPL220218C00090000,2022-02-16 19:13:44+00:00,90.0,81.45,0.0,0.0,0.0,0.0,1.0,34,0.00001,True,REGULAR,USD

In [33]:
options.puts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     59 non-null     object
 1   lastTradeDate      59 non-null     datetime64[ns, UTC]
 2   strike             59 non-null     float64
 3   lastPrice          59 non-null     float64
 4   bid                59 non-null     float64
 5   ask                59 non-null     float64
 6   change             59 non-null     float64
 7   percentChange      59 non-null     float64
 8   volume             57 non-null     float64
 9   openInterest       59 non-null     int64
 10  impliedVolatility  59 non-null     float64
 11  inTheMoney         59 non-null     bool
 12  contractSize       59 non-null     object
 13  currency           59 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(8), int64(1), object(3)
memory usage: 6.2+ KB